<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="random"
         colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <env name="JWT_SECRET" value="qkdfjlqgjlqgjldk2345_fklqjglq6678"/>
        <env name="SHARE_SECRET" value="qfkmqljgmqdjfgqdgkmjqdgjqmgjdqfmjgqdlokrtdhujytrscvnklmpouygderf"/>
        <env name="KEY_ENCRYPTION_KEY" value="hjueksleo45jfb_uoe234ifk2apqm_jr"/>
        <env name="APP_PUBLIC_BASE_URL" value="http://localhost:8080"/>
    </php>
</phpunit>
